* {
    box-sizing: border-box;
}

body {
    background: rgb(240, 240, 240);
}

.container {
    width: 96vw;
    height: auto;
}

h1 {
    text-align: center;
    background: #B9F09D;
    background: -webkit-linear-gradient(to right, #B9F09D 0%, #2f99c6 100%);
    background: -moz-linear-gradient(to right, #B9F09D 0%, #2f99c6 100%);
    background: linear-gradient(to right, #B9F09D 0%, #2f99c6 100%);
    background-clip: linear-gradient(to right, #B9F09D 0%, #2f99c6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 30px;
}

.content {
    display: grid;
    grid-template-columns: 48vw 48vw;
}

.txt {
    padding: 10px 10px 10px 30px;
    color: rgb(123, 116, 116);
    font-size: 20px;
}

a {
    color: #2f99c6;
    font-weight: bold;
}

img {
    width: 25vw;
    height: 17vw;
    box-shadow: 1px 1px 2px rgba(19, 101, 172, 0.15), 
                2px 2px 4px rgba(19, 101, 172, 0.15), 
                4px 4px 8px rgba(19, 101, 172, 0.15), 
                8px 8px 16px rgba(19, 101, 172, 0.15),
                16px 16px 32px rgba(19, 101, 172, 0.15), 
                32px 32px 64px rgba(19, 101, 172, 0.15)
}

.images {
    position: relative;
}

.images div {
    height: auto;
}

.img1 {
    position: absolute;
    left: 5%;
    top: 0%;
}

.img2 {
    position: absolute;
    left: 40%;
    top: 20%;
}

.img3 {
    position: absolute;
    left: 20%;
    top: 40%;
}

picture:hover {
    z-index: 2;
    border: 12px #2f99c6 solid;
    padding: 15px;
    border-radius: 20px;
}

@media screen and (min-width:1600px) {
    .txt {
        font-size: 25px;
    }
}

@media screen and (max-width:1000px){
    .content {
        grid-template-columns: 96vw;
    }

    .txt {
        margin-bottom: 15px;
        font-size: 15px;
    }

    .images {
        height: 30vh;
    }

    img {
        width: 35vw;
        height: 25vw;
    }

    .img1 {
        left: 8%;
        top: 0;
    }

    .img3 {
        left: 35%;
        top: 12%;
    }

    .img2 {
        left: 56%;
        top: 0;
    }

    picture:hover {
        border: 7px #2f99c6 solid;
        padding: 7px;
    }
}