* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    width: 98vw;
}

.container {
    display: grid;
    grid-template-areas: 
    "h h h"
    "s n a"
    "s m a"
    "f f f";
    grid-template-columns: 19vw 60vw 19vw;
}

/* header */
.header {
    grid-area: h;
    height: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 800;
    background: #B9F09D;
    background: -webkit-linear-gradient(to right, #B9F09D 0%, #2f99c6 100%);
    background: -moz-linear-gradient(to right, #B9F09D 0%, #2f99c6 100%);
    background: linear-gradient(to right, #B9F09D 0%, #2f99c6 100%);
    background-clip: linear-gradient(to right, #B9F09D 0%, #2f99c6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*  menu */
.navigation {
    grid-area: n;
    height: 50px;
    border: 5px #2f99c6 solid;
    background: linear-gradi solid;
    border-radius: 20px;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.navigation a {
    display: flex;
    color: #696e67;
    font-size: 20px;
    font-weight: 900;
}

/* business card */
.sidebar {
    grid-area: s;
}

.card {
    top: 25%;
    position: fixed;
    margin-left: 2vw;
    margin-right: 1vw;
    text-align: center;
    font-size: 2vw;
    font-weight: 600;
    color: #696e67;
}

.card img {
    clip-path: circle(37% at 50% 50%);
    width: 15vw;
    height:auto;
}

hr {
    margin: 10px 0 ;
}

.card p{
    text-align: center;
    font-size: 1vw;
}

/* main section */
.menu {
    grid-area: m;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    display: block;  
}

.content::after {
    content: '';
    background-image: url('https://images.unsplash.com/photo-1449157291145-7efd050a4d0e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80');
    background-repeat: repeat;
    background-size: contain;
    opacity: 0.4;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-top: -20px;
    margin-bottom: -20px;
}

.section {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50vw;
    background: rgb(211, 205, 205);
    clip-path: polygon(5vw 0, 100% 0%, 45vw 100%, 0 100%);
    margin-top: 50px;
    margin-left: 5vw;
    color: #696e67;
}

.section img {
    clip-path: circle(30% at 50% 50%);
    float: left;
    shape-outside: circle(50%);
    width: 10vw;
    height: auto;
    margin-left: 2vw;
}

.section p {
    padding-top: 5px;
    text-align: justify;
    font-size: 18px;
    padding-right: 8vw;
    padding-left: 8vw;
}

/* form */
.background img{
    width: 60vw;
    height: 30vw;
}

.new-form {
    margin-top: 60px;
    width: 60vw;  
    position: relative;
}

.text {
    top: 0;
    background: rgba(241, 240, 237, 0.646);
    clip-path: polygon(0 0, 65% 0, 52% 100%, 0% 100%);

    position: absolute;
    width: 60vw;
    height: 30vw;
}

form {
    display: flex;
    flex-direction: column;
    height: 30vw;
}

.text h3 {
    margin-top: 2.5vw;
    margin-left: 2vw;
    font-size: 2.5vw;
    color: #2f99c6;
}

.input {
    width: 20vw;
    height: 3.5vw;
    border: none;
    margin-top: 2.5vw;
    margin-left: 2vw;
    padding-left: 2vw;
    font-weight: 500;
    color: #696e67;
    font-size: 1vw;
}

.button {
    width: 15vw;
    margin-top: 2.5vw;
    margin-left: 2vw;
    height: 3vw;
    border-radius: 15px;
    border: none;
    background:#2f99c6;
    color: white;
    font-weight: 600;
    font-size: 1vw;
    cursor: pointer;
}

.radio {
    margin-top: 2vw;
    margin-left: 2vw;
    color: #696e67;
    font-weight: 500;
    font-size: 1.2vw;
}

.around-radio {
    display: flex;
    flex-direction: row;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    padding: 2px;
    background-clip: content-box;
    border: 3px solid #2f99c6;
    background-color: #ffffff;
    border-radius: 50%;
}
  
  input[type="radio"]:checked {
    background-color: #2f99c6;
}

/* right section */
.ads {
    grid-area: a;
}

.fixed-ads {
    position: fixed;
    margin: 0 2vw;
    top: 15%;
}

.fixed-ads img {
    width: 16vw;
    margin-bottom: 20px;
    opacity: 0.6;
}

.fixed-ads p {
    text-align: center;
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
    color: #696e67;
}

/* footer */
.footer {
    grid-area: f;
    height: 45px;
    text-align: center;
    margin: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #696e67;
}

@media (min-width:1600px) {
    .section img {
        width: 8vw;
    }
}

@media (min-width:2000px) {
    .section img {
        width: 6vw;
    }
}

@media (max-width:1100px) {
    .container {
        grid-template-areas: 
        "h h"
        "n n"
        "s m"
        "a f";
        grid-template-columns: 30vw 70vw;
    }

    .navigation {
        width: 90vw;
        margin-left: 5vw;   
    }

    .fixed-ads {
        position:static;
    }

    .fixed-ads img {
        display: none;
    }

    .section {
        width: 60vw;
        clip-path: polygon(5vw 0, 100% 0%, 55vw 100%, 0 100%);
    }

    .section img {
        width: 25vw;
    }

    .card {
        width: 26vw;
        font-size: 4vw;
        margin-left: 2vw;
    }

    .card p {
        font-size: 2.5vw;
    }

    .card img {
        width: 25vw;
    }

    .background img{
        width: 70vw;
        height: 40vw;
    }
    
    .new-form {
        margin-top: 70px;
        width: 70vw;  
    }

    .text {
        width: 70vw;
        height: 40vw;
    }

    form {
        height: 40vw;
    }
    
    .text h3 {
        margin-top: 3vw;
        margin-left: 5vw;
        font-size: 3vw;
    }
    
    .input {
        width: 25vw;
        height: 4vw;
        margin-top: 3vw;
        margin-left: 5vw;
        padding-left: 3vw;
        font-size: 1.5vw;
    }
    
    .button {
        width: 20vw;
        margin-top: 3vw;
        margin-left: 5vw;
        height: 4vw;
        font-size: 1.5vw;
    }
    
    .radio {
        margin-top: 3vw;
        margin-left: 2vw;
        font-size: 1.5vw;
    }
}

@media (max-width:750px) {
    .container {
        grid-template-areas: 
        "h"
        "n"
        "m"
        "s"
        "a"
        "f";
        grid-template-columns: 100vw;
    }

    .header {
        font-size: 25px;
    }

    .navigation {
        width: 98vw;
        margin-left: 1vw;   
    }

    .navigation a {
        font-size: 13px;
    }

    .fixed-ads {
        position:static;
    }

    .fixed-ads {
        position: static;
        margin: 0 2vw;
    }
    
    .fixed-ads img {
        display: inline-block;
        width: 31vw;
        height: 20vw;
        margin-bottom: 15px;
    }
    
    .fixed-ads p {
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 20px;
    }

    .section {
        width: 90vw;
        clip-path: polygon(8vw 0, 100% 0%, 82vw 100%, 0 100%);
    }

    .section img {
        width: 40vw;
    }

    .section p {
        font-size: 3.5vw;
        margin-right: 3vw;
        margin-left: 3vw;
    }

    .card {
        position: static;
        width: 90vw;
        font-size: 6vw;
        margin-left: 5vw;
        margin-top: 20px;
    }

    .card p {
        font-size: 4vw;
    }

    .card img {
        width: 45vw;
    }

    .background img{
        width: 100vw;
        height: 60vw;
    }
    
    .new-form {
        margin-top: 50px;
        width: 100vw;  
    }

    .text {
        width: 100vw;
        height: 60vw;
    }

    form {
        height: 60vw;
    }
    
    .text h3 {
        margin-top: 5vw;
        margin-left: 8vw;
        font-size: 5vw;
    }
    
    .input {
        width: 40vw;
        height: 5vw;
        margin-top: 5vw;
        margin-left: 8vw;
        padding-left: 5vw;
        font-size: 2.5vw;
    }
    
    .button {
        width: 30vw;
        margin-top: 5vw;
        margin-left: 8vw;
        height: 5vw;
        font-size: 2vw;
    }
    
    .radio {
        margin-top: 5vw;
        margin-left: 2vw;
        font-size: 2vw;
    }
}