* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 97vw;
    margin: auto;
    justify-content: space-evenly;
}

.card {
    width: 20vw;
    -webkit-box-shadow: 4px 4px 15px 2px rgba(135, 125, 125, 1);
    -moz-box-shadow: 4px 4px 15px 2px rgba(135, 125, 125, 1);
    box-shadow: 4px 4px 15px 2px rgba(135, 125, 125, 1);
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.city {
    padding: 20px;
    font-weight: 800;
    font-size: 60px;
}

.description {
    padding: 0px 0px 20px 20px;
    font-weight: 600;
    font-size: 40px;
    color: rgb(231, 124, 142);
}

.content {
    padding: 0px 20px 20px 20px;
    color: rgb(135, 125, 125);
    font-size: 20px;
}

.footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}


.popularity {
    font-size: 20px;
    color: rgb(135, 125, 125);
    font-weight: bold;
}

button {
    width: 150px;
    background: rgb(231, 124, 142);
    color: white;
    font-weight: 600;
}

@media (max-width: 1600px) {
    .card {
        width: 27vw;
        margin: 35px 0px 35px 0px;
    }

    .city {
        padding: 25px 0px 10px 25px;
        font-weight: 800;
        font-size: 50px;
    }

    .description {
        padding: 0px 0px 25px 25px;
        font-size: 35px;
    }

    .content {
        padding: 0px 25px 10px 25px;
        font-size: 20px;
    }

    .footer {
        padding: 25px;
    }

    .popularity {
        font-size: 15px;
    }

    button {
        width: 125px;
        font-size: 15px;
    }
}

@media (max-width: 1000px) {
    .card {
        width: 45vw;
        margin: 30px 0px 30px 0px;
    }

    .city {
        padding: 20px 0px 15px 30px;
        font-size: 45px;
    }

    
    .description {
        padding: 0px 0px 15px 30px;
        font-size: 30px;
    }

    .content {
        padding: 0px 30px 15px 30px;
        font-size: 20px;
    }

    .footer {
        padding: 15px 30px 30px 30px;
    }

    .popularity {
        font-size: 15px;
    }

    button {
        width: 125px;
        font-size: 15px;
    }
}


@media (max-width: 700px) {
    .card {
        width: 90vw;
    }

    .city {
        padding: 20px 0px 10px 20px;
        font-size: 40px;
    }
    
    .description {
        padding: 0px 0px 10px 20px;
        font-size: 30px;
    }
    
    .content {
        padding: 0px 20px 10px 20px;
        font-size: 17px;
    }

    .footer {
        padding: 10px 20px 20px 20px;
    }

    .popularity {
        font-size: 15px;
    }

    button {
        width: 130px;
        font-size: 15px;
    }
}